* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #eeee;
	overflow: hidden;
}
.contenedor_padre {
text-align: center;
	height: 50vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	animation: ENTRADA 1s ease 0s 1 normal none;
}

@keyframes ENTRADA {
	0.0% {
		transform: translateY(500%);
	}

	100% {
		transform: translateY(0%);
	}
}

header {
	text-align: center;
	h1 {
		margin: 10px 0;
		color: #00adb5;
		// text-shadow: 0 0 2px #0c0c0c8e;
		font-weight: 700;
		letter-spacing: 1.2px;
	}
}
p {
	margin: 10px 0;
	font-weight: 200;
}

.entrada_cadena {
	width: 60vw;
	height: 5vh;
	border: none;
	background: none;
	border-bottom: 2px solid #00adb5;
	margin: 10px 0;
	font-size: 15px;
}

.btn_verificar {
	border: none;
	width: 25vw;
	height: 8vh;
	border-radius: 6px;
	margin: 10px 0;
	background: #00adb5;
	color: #eeeeee;
	transition: ease 0.3s all;
	font-weight: 500;

	&:hover {
		transition: ease 0.3s all;
		cursor: pointer;
		background: #eeeeee;
		color: #00adb5;
		border: 2px solid #00adb5;
	}
}

.emoji {
	height: 40vh;
	width: 100vw;
}

.like {
	background-image: url('../img/like.svg');
	background-repeat: no-repeat;
	background-position: center;
	animation: LIKE 1s ease 0s 1 normal none;
}

.dislike {
	background-image: url('../img/like.svg');
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(180deg);
	animation: DISLIKE 1s ease 0s 1 normal none;
}

@keyframes DISLIKE {
	0.0% {
		transform: rotate(0deg);
	}
	49.6% {
		transform: rotate(180deg);
	}
	100% {
	}
}
@keyframes LIKE {
	0.0% {
		transform: rotate(30deg);
	}
	49.6% {
		transform: rotate(-30deg);
	}
	100% {
	}
}

.automata {
	display: flex;
	flex-wrap: wrap;

	border: 2px dotted #c51b1b; // TODO: linea a borrar

	.esfera {
		border-radius: 50%;
		text-align: center;
		width: 40px;
		height: 40px;
		border: 2px dotted #c51b1b; // TODO: linea a borrar
		margin: 5px;
	}
}
