* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eeee;
  overflow: hidden;
}

.contenedor_padre {
  height: 50vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: ENTRADA 1s ease 0s 1 normal none;
          animation: ENTRADA 1s ease 0s 1 normal none;
}

@-webkit-keyframes ENTRADA {
  0.0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes ENTRADA {
  0.0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

header {
  text-align: center;
}

header h1 {
  margin: 10px 0;
  color: #eeeeee;
  text-shadow: 0 0 2px #0c0c0c8e;
  font-weight: 900;
  letter-spacing: 1.2px;
}

p {
  margin: 10px 0;
  font-weight: 200;
}

#entrada_cadena {
  width: 60vw;
  height: 5vh;
  border: none;
  background: none;
  border-bottom: 2px solid #00adb5;
  margin: 10px 0;
  font-size: 15px;
}

.btn_verificar {
  border: none;
  width: 25vw;
  height: 8vh;
  border-radius: 6px;
  margin: 10px 0;
  background: #00adb5;
  color: #eeeeee;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  font-weight: 500;
}

.btn_verificar:hover {
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  cursor: pointer;
  background: #eeeeee;
  color: #00adb5;
}

.emoji {
  height: 40vh;
  width: 100vw;
}

.like {
  background-image: url("../img/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: LIKE 1s ease 0s 1 normal none;
          animation: LIKE 1s ease 0s 1 normal none;
}

.dislike {
  background-image: url("../img/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: DISLIKE 1s ease 0s 1 normal none;
          animation: DISLIKE 1s ease 0s 1 normal none;
}

@-webkit-keyframes DISLIKE {
  0.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.6% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
  }
}

@keyframes DISLIKE {
  0.0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49.6% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
  }
}

@-webkit-keyframes LIKE {
  0.0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  49.6% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
  }
}

@keyframes LIKE {
  0.0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  49.6% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
  }
}
/*# sourceMappingURL=styles.css.map */